body{
    background-color: bisque;
}
table , td,th{
    border: 1px solid black;
}


footer{
    text-align: center;
    color: white;
    background-color: black;
}
td:hover{
    background-color: aqua;
}